<header id="header" class="site-header" data-drupal-selector="site-header">
  <div class="site-header__blob">
    {{ include(componentMetadata.path ~ '/images/hexagon-large.svg') }}
  </div>
  <div class="site-header__logo">
    <a href="{{ url('<front>') }}">
      <div class="site-header__logo--small">
        <img src="{{ componentMetadata.path ~ '/images/logo-wide.svg' }}" alt="{{ 'Drupal for Gov Home'|t }}" width="135" height="85">
      </div>
      <div class="site-header__logo--large">
        <img src="{{ componentMetadata.path ~ '/images/logo.svg' }}" alt="{{ 'Drupal for Gov Home'|t }}" width="135" height="85">
      </div>
    </a>
  </div>
  <div class="site-header__nav">
    {# This is the root navigation element that flies out at mobile. #}
    <div id="header-nav" class="header-nav" data-drupal-selector="header-nav">
      <nav aria-label="{{ 'Primary navigation'|t }}">
        {{ main_menu }}
      </nav>
    </div>
  </div>
  <div class="site-header__button">
    {{ include('drupal4gov:mobile-nav-button') }}
  </div>
</header>
<div class="header-nav-overlay" data-drupal-selector="header-nav-overlay"></div>
