<div class="layout-container">

  <div class="container">
    {{ include ('drupal4gov:header', {
      logo_path: '/' ~ directory ~ '/logo.svg',
      main_menu: page.header.drupal4gov_main_menu,
      }, with_context = false) }}

    {{ include('drupal4gov:hero') }}

    {{ include('@drupal4gov/_card-group.twig') }}
  </div>
  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  <main class="container" role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">
      {{ page.content }}
    </div>{# /.layout-content #}

    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}
