<div class="layout-container">

  <div class="container">
    {{ include ('drupal4gov:header', {
      main_menu: page.header.drupal4gov_main_menu,
      show_wide_logo: not is_front,
      show_blob: is_front,
      }, with_context = false) }}

      {% if is_front %}
        <div class="component-spacing">
          {{ include('@drupal4gov/../components/hero/hero.example.twig') }}
        </div>
        <div class="component-spacing">
          {{ include('@drupal4gov/../components/card-group/card-group.example.twig') }}
        </div>
        <div class="component-spacing">
          {{ include('@drupal4gov/../components/heading/heading.example.twig') }}
        </div>
      {% endif %}
  </div>

  <div class="container">
    {{ page.breadcrumb }}

    {{ page.highlighted }}

    {{ page.help }}
  </div>

  <main class="container" role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">
      {{ page.content }}
    </div>{# /.layout-content #}

    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}
